@model NightInnV2.Models.Drink

@{
    ViewBag.Title = "Delete a Drink";
}

<h3 class="page-header">Are you sure you want to delete the @Html.DisplayFor(model => model.DrinkName) recipe?</h3>
<div>
    <h4 class="media-heading">This can not be undone.</h4>
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-sm-offset-4">
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
            <br />
            <br />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-large" })
        </div>
    }
</div>
